<app-nav-container>
  <nav-drawer
    #drawer
    closed
    [sWidth]="smallContent"
    [lWidth]="largeContent"
    [animateContainer]="container"
    [mode]="mode"
  >
    <div class="container" #container>
      <div class="bg"></div>
      <!-- <div class="container"> -->
      <div class="content-large content" #largeContent [appSizeRef]="drawer">
        <ul style="padding: 0px 100px 0 21px">
          <li>
            <img src="../assets/jim.jpg" height="80px" width="80px" alt="" />
            <a class="remove-text-animation" routerLink="/alt">WAKN</a>
          </li>
          <li>
            <img src="../assets/jim.jpg" height="80px" width="80px" alt="" />
            <a class="remove-text-animation" routerLink="/home">KNAW</a>
          </li>
          <li>
            <img src="../assets/jim.jpg" height="80px" width="80px" alt="" />
            <a class="remove-text-animation">WANK</a>
          </li>
        </ul>
      </div>
      <div class="content-small content" #smallContent [appSizeRef]="drawer">
        <ul style="padding: 0 20px 0 20px">
          <li
            *ngFor="let item of navigationList"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active_nav"
            [routerLink]="item.route"
          >
            <app-svg>
              <svg
                style="transform: scale(0.35)"
                id="svg-init"
                #svgInit
                [attr.width]="item.icon.width"
                [attr.height]="item.icon.height"
                [attr.viewBox]="item.icon.viewBox"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  [attr.d]="item.icon.d"
                  stroke="#535c68"
                  stroke-width="3px"
                />
              </svg>
            </app-svg>
          </li>
          <!-- <li>
            <div
              class="box"
              style="
                height: 75px;
                width: 75px;
                border-radius: 15px;
                background-color: #4834d4;
              "
            >
              <img src="../assets/jim.jpg" height="80px" width="80px" alt="" />
            </div>
          </li>
          <li>
            <div
              class="box"
              style="
                height: 75px;
                width: 75px;
                border-radius: 15px;
                background-color: #4834d4;
              "
            >
              <img src="../assets/jim.jpg" height="80px" width="80px" alt="" />
            </div>
          </li>
          <li>
            <div
              class="box"
              style="
                height: 75px;
                width: 75px;
                border-radius: 15px;
                background-color: #4834d4;
              "
            >
              <img src="../assets/jim.jpg" height="80px" width="80px" alt="" />
            </div>
          </li> -->
        </ul>
      </div>
      <!-- </div> -->
      <!-- <h1 (click)="(close)">close</h1> -->
    </div>
  </nav-drawer>
  <app-nav-content>
    <div class="middle" style="position: absolute; top: 20%; left: 50%">
      <button (click)="drawer.open()">Openey</button>
      <button (click)="drawer.close()">Closey</button>
    </div>

    <div
      class="square"
      style="height: 400px; width: 400px; background-color: green"
    >
      <!-- <h1 style="position: absolute; top: 50%; left: 50%" (click)="open()">
        oppen
      </h1> -->
      <router-outlet></router-outlet>
    </div>
  </app-nav-content>
</app-nav-container>

<!-- <app-data-container></app-data-container> -->
